# artifacts and logs
**/__pycache__
**/lightning_logs
**/runs
**/mlruns
**/mlartifacts
**datasets
!custom_components/datasets
*.ckpt
*.log
*.json
**/*tfevents*
**/*output*

# datasets
*.pt
*.allx
*.ally
*.graph
*.txt
!requirements.txt
!requirements-dev.txt
*.csv
*.npz
*.pkl
*.npy
*.mat
*.pth
*.tx
*.ty
*.gz
*.x
*.y
*.index

#venv
.venv/
grt_env/