**/__pycache__
**/lightning_logs
/runs
**/mlruns
**/mlartifacts
**datasets
!gnn_toolbox/custom_modules/datasets
*.ckpt
*.log
*.json
**/*tfevents*

# datasets
*.pt
*.allx
*.ally
*.graph
*.txt
*.csv
*.npz
*.pkl
*.npy
*.mat
*.pth
*.tx
*.ty
*.gz
*.x
*.y
*.index